{% extends "base.html" %}
{% block title %} {{item_list.name}} {% endblock %}

{% block head_end %}
<script>
$(document).ready(function () {
    {% load json_filters %}
    data = {{item_list|jsonify}};
    ko.applyBindings(new ListViewModel(data));
});
</script>
{% endblock %}

{% block content %}

<p>
    <h1 data-bind="text: name"></h1>
    <div data-bind="text: description"></div>
    <div>Created by <span data-bind="text: author"></span></div>
</p>

<table>
    <tbody data-bind="foreach: items">
        <tr>
            <td>
                <a data-bind="attr: {'href':  '/movie/' + slug, title: name }">
                    <span data-bind="text: title"></span></td>
                </a>
                <td>(<span data-bind="text: year"></span>)</td>
                <td><span data-bind="foreach: directors">
                    <!-- ko if: $index() != 0 -->,<!-- /ko -->
                    <a data-bind="attr: {'href':  '/person/' + slug, title: name }">
                        <span data-bind="text: name"></span>
                    </a>
                </span></td>
                {% if user.is_authenticated %}
                <td>
                    <input type="checkbox" class="watched" data-bind="toggle: watched, attr: {'id':  'watched-movie' + id}"/>
                    <label data-bind="attr: {'for':  'watched-movie' + id}">Watched</label>
                </td>
                <td>
                    <input type="checkbox" class="owned" data-bind="toggle: owned, attr: {'id':  'owned-movie' + id}"/>
                    <label data-bind="attr: {'for':  'owned-movie' + id}">Owned</label>
                </td>
                <td>
                    <input type="checkbox" class="liked" data-bind="toggle: liked, attr: {'id':  'liked-movie' + id}"/>
                    <label data-bind="attr: {'for':  'liked-movie' + id}">Liked</label>
                </td>
                <td>
                    <input type="checkbox" class="disliked" data-bind="toggle: disliked, attr: {'id':  'disliked-movie' + id}"/>
                    <label data-bind="attr: {'for':  'disliked-movie' + id}">Disliked</label>
                </td>
                <td>
                    <input type="checkbox" class="favorited" data-bind="toggle: favorited, attr: {'id':  'favorited-movie' + id}"/>
                    <label data-bind="attr: {'for':  'favorited-movie' + id}">Favorited</label>
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>


    <p>
        {{item_list}}

    </p>

    {% endblock %}