{% extends "base.html" %}
{% block title %} {{item_list.name}} {% endblock %}

{% block head_end %}
<script>
$(document).ready(function () {
    {% load json_filters %}
    data = {{item_list|jsonify}};
    ko.applyBindings(new ListViewModel(data));
});
</script>
{% endblock %}

{% block content %}

<p>
    <h1 data-bind="text: name"></h1>
    <div data-bind="text: description"></div>
    <div>Created by <span data-bind="text: author"></span></div>
</p>

<table>
    <tbody data-bind="foreach: items">
        <tr>
            <td>
            <a data-bind="attr: {'href':  '/movie/' + slug, title: name }">
                <span data-bind="text: title"></span></td>
            </a>
            <td>(<span data-bind="text: year"></span>)</td>
            <td><span data-bind="foreach: directors">
                <!-- ko if: $index() != 0 -->,<!-- /ko -->
                <a data-bind="attr: {'href':  '/person/' + slug, title: name }">
                    <span data-bind="text: name"></span>
                </a>
            </span></td>
        </tr>
    </tbody>
</table>


<p>
    {{item_list}}

</p>

{% endblock %}