
{% extends "base.html" %}

{% block title %} All Movies {% endblock %}

{% block head_end %}
<script>
$(document).ready(function () {
    {% load filters %}
    movies = {{movies|jsonify}};
    data = [];
    data['items'] = movies
    ko.applyBindings(new ListViewModel(data));
});
</script>
{% endblock %}

{% block content %}

<h1> {{header}} </h1>
<br/>

<div id="list-container">
    {% include "movies_list.html" %}
</div>

<a href="/movies/?page={{page|add:"-1"}}">Previous</a>
<a href="/movies/?page={{page|add:"1"}}">Next</a>



{% endblock %}