
{% extends "base.html" %}

{% block title %} {{person.name}} {% endblock %}


{% block head_end %}
<script>
$(document).ready(function () {
    {% load json_filters %}
    data = {{person|jsonify}};
    ko.applyBindings(new ListViewModel(data, 'directions'));
});
</script>
{% endblock %}

{% block content %}

<h1> {{person.name}} </h1>


Directions:

<table>
    <tbody data-bind="foreach: directions">
        <tr>
            <td>
                <a data-bind="attr: {'href':  '/movie/' + slug, title: name }">
                    <span data-bind="text: title"></span></td>
                </a>
                <td>(<span data-bind="text: year"></span>)</td>

                {% if user.is_authenticated %}
                <td>
                    <input type="checkbox" class="watched" data-bind="toggle: watched, attr: {'id':  'watched-movie' + id}"/>
                    <label data-bind="attr: {'for':  'watched-movie' + id}">Watched</label>
                </td>
                <td>
                    <input type="checkbox" class="owned" data-bind="toggle: owned, attr: {'id':  'owned-movie' + id}"/>
                    <label data-bind="attr: {'for':  'owned-movie' + id}">Owned</label>
                </td>
                <td>
                    <input type="checkbox" class="liked" data-bind="toggle: liked, visible: !disliked() && !favorited(), attr: {'id':  'liked-movie' + id}"/>
                    <label data-bind="visible: !disliked() && !favorited(), attr: {'for':  'liked-movie' + id}">Liked</label>
                </td>
                <td>
                    <input type="checkbox" class="disliked" data-bind="toggle: disliked, visible: !liked() && !favorited(), attr: {'id':  'disliked-movie' + id}"/>
                    <label data-bind="visible: !liked() && !favorited(), attr: {'for':  'disliked-movie' + id}">Disliked</label>
                </td>
                <td>
                    <input type="checkbox" class="favorited" data-bind="toggle: favorited, visible: !disliked(), attr: {'id':  'favorited-movie' + id}"/>
                    <label data-bind="visible: !disliked(), attr: {'for':  'favorited-movie' + id}">Favorited</label>
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

<p>
    {{person}}
</p>

{% endblock %}