{% extends "base.html" %}


{% block title %}Login{% endblock %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


<h1>Sign In</h1>

<div class="lefty">
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
        {% if state %}
        {{ state }}
        {% endif %}<br/>
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <b>Username<b><br/>
            <input type="text" name="username" value="{{ username }}" required /><br />
            <b>Password</b></br>
            <input type="password" name="password" value="" required /><br />
            <input type="submit" value="Log In" class="btn"/>
            <br/>
            <span>
                Don't have an account? <a href="{% url 'registration_register' %}">Create one here!</a>
            </span>
        </form>
    </div>

    <div class="or">
        OR<br/><br/>
        <a href="{% url 'socialauth_begin' 'facebook' %}"><img src="http://localhost/static/images/facebook-login.png"></a><br/><br/>
        <a href="{% url 'socialauth_begin' 'twitter' %}"><img src="http://localhost/static/images/twitter-signin.png"></a><br/><br/>
        <a href="{% url 'socialauth_begin' 'google' %}"><img src="http://localhost/static/images/google-signin.png"></a><br/>
    </div>


    {% endblock %}
