<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="http://localhost/static/jquery.js"></script>
    <script src="http://localhost/static/ko-debug.js"></script>
    <script src="http://localhost/static/base.js"></script>
    <script src="http://localhost/static/moment.min.js"></script>
    <script src="http://localhost/static/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost/static/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://localhost/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="http://localhost/static/bootstrap/css/custom_bootstrap.css" rel="stylesheet">
    <link href="http://localhost/static/bootstrap/css/custom.css" rel="stylesheet">
    <link href="http://localhost/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    {% block head_end %}{% endblock %}
</head>
<body>
    <header>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li class="active">
                        <a class="brand" href="/">Reelphil.com</a>
                    </li>
                    <li class="dropdown">
                    <a href="/movies" class="dropdown-toggle" data-toggle="dropdown">Movies
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/movies">All Movies</a></li>
                        <li class="divider"></li>
                        <li class="nav-header">{{user.username}}'s</li>
                        <li><a href="/movies/watched/{{user.username}}/">Watched Movies</a></li>
                        <li><a href="/movies/owned/{{user.username}}/">Owned Movies</a></li>
                        <li><a href="/movies/liked/{{user.username}}/">Liked Movies</a></li>
                        <li><a href="/movies/disliked/{{user.username}}/">Disliked Movies</a></li>
                        <li><a href="/movies/favorited/{{user.username}}/">Favorite Movies</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/lists" class="dropdown-toggle" data-toggle="dropdown">Lists
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/lists">All Lists</a></li>
                        <li class="divider"></li>
                        <li class="nav-header">{{user.username}}'s</li>
                        <li><a href="/lists/on_watchlist/{{user.username}}/">Watchlists</a></li>
                        <li><a href="/lists/favorited/{{user.username}}/">Favorited Lists</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li>
                  <form class="navbar-search pull-right">
                      <input type="text" class="search-query" placeholder="Search">
                  </form>
                </li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="/user/{{user.username}}" class="dropdown-toggle" data-toggle="dropdown">{{user.username}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/">View Profile</a></li>
                        <li><a href="/user/edit/">Edit Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/user/logout">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="/user/login">Login</a></li>
                {% endif %}
            </ul>

      </div>

  </div>
</div>

</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

<footer class="footer">
  <div class="container">
    <p>Copyleft (ↄ) Reelphil - All Rights REVERSED 2013</p>
  </div>
</footer>

</body>
</html>